{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block page_title %}namnlös höstar{% endblock %}

{% block view_id %}login{% endblock %}
{% block body %}

    <div style="height: 100px;"></div>
    <h1 class="display-2 main-text text-center">This is Der H&ouml;star - a PaaS.</h1>
    <p class="lead support-text text-center">Type in a repository, provide some hooks - and we're all set.</p>

    {% if not user.is_authenticated %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            <div class="form-group">
                {% csrf_token %}
                {{ login_form|crispy }}
            </div>
            <input type="submit" value="Register" class="login-form-submit btn btn-primary" />
            <button type="button" class="btn btn-link login-form-type-toggle">Login instead</button>
        </form>
    <div>
    {% endif %}

{% endblock %}
